# CPU-only version of Smart Vehicle Counting System
# Install with: pip install -r requirements.txt

cvzone==1.5.6
opencv-python>=4.6.0.66
hydra-core>=1.2.0
matplotlib>=3.2.2
numpy<2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torchvision==0.20.1
tqdm>=4.64.0
filterpy==1.4.5
scikit-image
lap
ultralytics==8.0.26
torch==2.5.1 --index-url https://download.pytorch.org/whl/cpu
